body,
html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  overflow: auto;
}

h1,
p {
  font-family: fantasy;
  text-align: center;
  padding: 20px;
}

div {
  height: 150px;
  width: 50%;
  overflow: auto;
  position: absolute;
  bottom: 0%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0;
}

.hints span {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  margin-top: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.cassette {
  display: block;
  margin-left: 65%;
  margin-top: -10%;
  width: 28%;
}

.output {
  display: hidden;
}
